/*
*  --------     FONT      -------
*/

@font-face {
  font-family: 'Oleo Script';
  src: url('../fonts/OleoScript-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Cascadia Code';
  src: url('../fonts/CascadiaCode.ttf');
  font-family: 400;
}


@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/RobotoSlab-Regular.ttf');
  font-family: 400;
}

:root {
  --background_color: #ffffff;
  --text_color: #000000;
  --icon_floatmenu_color: #474747;
  --heading_color: #026a00;
  --link_color: #278501;
  --sharp_symbol_color: #C7C7C7;
  --table_border_color: #adadad;
  --table_even_row_background_color: #f2f2f2;
  --table_heading_background_color: #c3eac1;
  --table_heading_text_color: #303030;
  --hr_color: #afafaf;
  --code_background_color: #e7e4e4;
  --code_block_background_color: #1a1b26;
  --tag_background_color: #c3eac1;
  --tag_text_color: #000000;
  --tag_moc_bg_color: #efbc89;
}

/*
*  --------     DARK THEME   -------
*/
.dark-theme {
  --background_color: #18181b;
  --text_color: #d9d9d9;
  --icon_floatmenu_color: #d3d3d3;
  --heading_color: #00b347;
  --link_color: #00fd65;
  --sharp_symbol_color: #414141;
  --table_border_color: #5e5e5e;
  --table_even_row_background_color: #403b3b;
  --table_heading_background_color: #2b462a;
  --table_heading_text_color: #e2e1e1;
  --hr_color: #4b4848;
  --code_background_color: #3d3d3d;
  --code_block_background_color: #24283b;
  --tag_background_color: #2b462a;
  --tag_text_color: #eeeded;
  --tag_moc_bg_color: #56422d;
}

/* -------------------------------- */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 17px;
}

body {
  font-family: 'Roboto Slab', sans-serif;
  max-width: 85ch;
  margin: 0 auto;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  background-color: var(--background_color);
  color: var(--text_color);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Merriweather', serif;
  margin: 0.8em 0;
  color: var(--heading_color);
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.4rem;
  }
}


p {
  margin-top: 0.8em;
}

hr {
  margin: 10px auto;
  width: 60%;
  border: 1px solid var(--hr_color);
}

ul,
ol {
  margin-top: 0.8em;
  list-style-position: outside;
}

ul li, ol li {
  margin-top: 0.3em;
}

a {
  color: inherit;
}

.divider {
  border: 0.1px solid var(--table_border_color);
  margin: 5px auto;
}


/*
*  --------     TABLE   -------
*/
table {
  width: 100%;
  border-collapse: collapse;
}

table tr:nth-child(even) {
  background-color: var(--table_even_row_background_color);
}

table td,
table th {
  border: 1.5px solid var(--table_border_color);
  padding: 0.2em
}

table th {
  padding: 0.3em;
  background-color: var(--table_heading_background_color);
  color: var(--table_heading_text_color);
}


/*
*  --------     HIGHLIGHT   -------
*/
code {
  font-family: 'Cascadia Code', monospace;
  display: inline-block;
  padding: 0 0.3em;
  background-color: var(--code_background_color);
  font-size: 0.85em;
  border-radius: 3px;
}

.chroma {
  width: 100%;
  overflow-x: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 5px;
}

.chroma code {
  font-size: 0.9rem;
  padding: 0;
  background-color: inherit;
}

/*
*  --------     BLOCKQUOTE   -------
*/
blockquote {
  padding: 5px;
  margin-top: 0.5em;
  border-left: 2px solid var(--heading_color);
}


blockquote p {
  margin-top: 0;
  margin-left: 5px;
}


/*
*  --------     LINK   -------
*/
a {
  text-decoration: none;
}

.link {
  text-decoration: underline;
  color: var(--link_color);
}

/*
*  --------     IMAGE   -------
*/
img {
  max-width: 100%;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

figcaption {
  font-size: 0.8rem;
  text-align: center;
  font-style: italic;
}

/*
*  --------     LIST   -------
*/

ul,
ol {
  padding-left: 1.3em;
}

/*
*  --------     HEADER      -------
*/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header__home {
  font-family: 'Oleo Script';
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--heading_color);
}

/*
*  --------     FOOTER      -------
*/
footer {
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
}

footer a {
  text-decoration: underline;
  color: var(--link_color);
}

/*
*  --------     FLOAT MENU   -------
*/

.float-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 35px;
  right: 20px;
  width: min-content;
  border-radius: 5px;
  background: rgba(34, 247, 80, 0.4);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
}

.float-menu__item {
  display: flex;
  place-items: center;
  padding: 4px;
  cursor: pointer;
}

.float-menu__item:first-of-type {
  border-bottom: 1px solid #909090;
  padding: 10px;
}

/*
*  --------     TAG   -------
*/

.tag {
  display: inline-block;
  text-transform: capitalize;
  font-size: 0.9rem;
  padding: 3px 0.5em;
  background-color: var(--tag_background_color);
  color: var(--tag_text_color);
  border-radius: 0.5em;
  margin-bottom: 5px;
}

.tag--moc {
  background-color: var(--tag_moc_bg_color);
  text-transform: uppercase;
}

/*
*  --------     FRONTMATTER   -------
*/

.frontmatter {
  display: inline-block;
  font-size: 0.86rem;
  margin-right: 10px;
  margin-top: 5px;
}

.frontmatter__key {
  display: inline-block;
}

.frontmatter__value {
  display: inline-block;
}

.frontmatter--tags {
  display: block;
}

@media only screen and (max-width: 600px) {
  .frontmatter-wrapper {
    width: 100%;
  }
  
  .frontmatter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5em;
    font-size: 0.86rem;
  }

}


/*
*  --------     STAGE   -------
*/

.stage {
  padding: 0 0.3em;
  font-size: 0.9rem;
  border-radius: 4px;
  width: fit-content;
}

.stage--seedling {
  background-color: #a6fdc9;
  color: #000000;
}

.stage--budding {
  background-color: #9dfdad;
  color: #000000;
}

.stage--evergreen {
  background-color: #7fdc94;
  color: #000000;
}

/*
*    ----- POST ------
*/

.post {
  padding: 8px 18px;
  border: 1px solid var(--table_border_color);
  border-radius: 10px;
  margin-bottom: 15px;
}

.external-icon {
  width: 20px;
}



/*
*    ----- TOC ------
*/

.toc {
  background-color: var(--table_even_row_background_color);
  padding: 1em;
  width: 100%;
  max-width: 550px;
}

.toc li {
  margin: 3px auto;
}

.toc__heading {
  font-weight: 600;
}