{{ define "main" }}
  {{ if .Data.Singular }}
  <h3 style="margin-bottom:0">Những note có tag "{{ .Title }}"</h3>
  <small>
    <a href="{{ "garden" | relURL }}">Bỏ lọc</a>
  </small>
  {{else}}
  <h2>Khu vườn</h2>
  {{ end }}
  <div class="blog-posts">
    {{ range .Pages.ByLastmod.Reverse }}
    <div class="post">
      <a href="{{ .Permalink }}">
        <h4>
        {{ if eq .Params.stage "seedling"}}
        🌱
        {{end}}
        {{ if eq .Params.stage "budding"}}
        🌿
        {{ end}}
        {{ if eq .Params.stage "evergreen"}}
        🌲
        {{ end}}
          {{.Title}}
        </h4>
      </a>
      <div>
        Last modified:
        <i>
          <time datetime='{{ .Lastmod.Format "02/01/2006" }}' pubdate>
            {{ .Lastmod.Format (default "02-01-2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </div>
      <div style="margin-top: 5px;">
        {{ range (.GetTerms "tags") }}
          <a href="{{ .Permalink }}" class="tag">{{ .LinkTitle }}</a>
        {{ end }}
      </div>
    </div>
    {{ else }}
    <div>
      No posts yet
    </div>
    {{ end }}
  </div>
  {{ if .Data.Singular }}
  {{else}}
      <div>
        {{ range .Site.Taxonomies.tags }}
        <a class="tag" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>&nbsp;
        {{ end }}
      </div>
    {{ end }}
{{ end }}
