{{ define "main" }}
{{ if not .Params.main }}
<article>
<h1>{{ .Title }}</h1>
{{ if isset .Params "stage"}}
<div class="frontmatter-wrapper">
  <div class="frontmatter">
    <div class="frontmatter__key">Trạng thái</div>
    <div class="frontmatter__value">
      {{ if eq .Params.stage "seedling"}}
      <div class="stage stage--seedling">🌱 Hạt Giống</div>
      {{end}}
      {{ if eq .Params.stage "budding"}}
      <div class="stage stage--budding">🌿 Đang Phát Triển</div>
      {{ end}}
      {{ if eq .Params.stage "evergreen"}}
      <div class="stage stage--evergreen">🌲 Cây Xanh</div>
      {{ end}}
    </div>
  </div>
  {{end}}
  <div class="frontmatter">
    <div class="frontmatter__key">Ngày tạo</div>
    <div class="frontmatter__value">
      <i>
        <time datetime='{{ .Date.Format "02-01-2006" }}' pubdate>
          {{ .Date.Format (default "02-01-2006" .Site.Params.dateFormat) }}
        </time>
      </i>
    </div>
  </div>
  <div class="frontmatter">
    <div class="frontmatter__key">Cập nhật lần cuối</div>
    <div class="frontmatter__value">
      <i>
        <time datetime='{{ .Lastmod.Format "02/01/2006" }}' pubdate>
          {{ .Lastmod.Format (default "02/01/2006" .Site.Params.dateFormat) }}
        </time>
      </i>
    </div>
  </div>
  <div class="frontmatter frontmatter--tags">
      <div class="frontmatter__key">Tags</div>
      <div class="frontmatter__value">
      {{ range (.GetTerms "tags") }}
        <a href="{{ .Permalink }}" class="tag {{ if eq .Page.Title "moc"}}tag--moc{{end}}">
          {{ .LinkTitle }}
        </a>
      {{ end }}
    </div>
  </div>
</div>
<div class="divider"></div>
{{ end }}
{{ partial "toc.html" . }}
{{ .Content }}
</article>
{{ end }}