{{ define "main" }}
<main>
{{ if not .Params.main }}
  <article>
  <h1>{{ .Title }}</h1>
  {{ if isset .Params "stage"}}
  <div class="frontmatter-wrapper">
    <!-- <div class="frontmatter"> -->
    <!--   <!-- <div class="frontmatter__key">Stage</div> -->
    <!--   <div class="frontmatter__value"> -->
    <!--     {{ if eq .Params.stage "seedling"}} -->
    <!--     <div class="stage stage--seedling">🌱 Seedling</div> -->
    <!--     {{end}} -->
    <!--     {{ if eq .Params.stage "budding"}} -->
    <!--     <div class="stage stage--budding">🌿 Budding</div> -->
    <!--     {{ end}} -->
    <!--     {{ if eq .Params.stage "evergreen"}} -->
    <!--     <div class="stage stage--evergreen">🌲 Evergreen</div> -->
    <!--     {{ end}} -->
    <!--   </div> -->
    <!-- </div> -->
    {{end}}
    <div class="frontmatter">
      <div class="frontmatter__key">Created at</div>
      <div class="frontmatter__value">
        <i>
          <time datetime='{{ .Date.Format "02/01/2006" }}' pubdate>
            {{ .Date.Format (default "02/01/2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </div>
    </div>
    <div class="frontmatter">
      <div class="frontmatter__key">Last updated</div>
      <div class="frontmatter__value">
        <i>
          <time datetime='{{ .Lastmod.Format "02/01/2006" }}' pubdate>
            {{ .Lastmod.Format (default "02/01/2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </div>
    </div>
    <div class="frontmatter frontmatter--tags">
        <div class="frontmatter__key"></div>
        <div class="frontmatter__value">
        {{ range (.GetTerms "tags") }}
          <a href="{{ .Permalink }}" class="tag {{ if eq .Page.Title "Moc"}}tag--moc{{end}}">
            {{ .LinkTitle }}
          </a>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
  {{ partial "toc.html" . }}
  {{ .Content }}
  </article>
</main>
{{ end }}
